.listItem {
    border: 1px solid gray;
    margin: 10px 0;
    border-radius: 3px;
    padding: 5px;
}

.itemLeft {
   flex: 0.9; 
}

.greenBoxList {
    gap: 3px;
}

.greenBox {
    background-color: green;
    color: white;
    font-size: 12px;
    padding: 4px;
    border-radius: 2px;
}